DataFrame homework netologu py-11 Bilonozhko Andrii

In [15]:
import pandas as pd
import numpy as np

In [25]:
URL = '/Users/andrejbel./Downloads/names/'

In [16]:
pd.Series([1, 0, 2, 5, 7, 9])

0    1
1    0
2    2
3    5
4    7
5    9
dtype: int64

In [20]:
pd.DataFrame(data = {
    'Names': ['Anton', 'Maria'],
    'Ages': [18, 19]
})

   ages  names
0    18  Anton
1    19  Maria

In [46]:
data = pd.read_csv(URL + 'yob2016.txt', names = ['Name', 'Gender', 'Count'])
data.sort_values(by='Count', ascending=False, ).Name.head(3).values.tolist()

['Emma', 'Olivia', 'Noah']

In [148]:
#Функция пока работает только с вариантами годов до 3-х. 
def count_top3(years):
    
    common_data = pd.read_csv(URL + f'yob{years[0]}.txt', names=['Name', 'Gender', 'Count'])
    for year in years[1:]:
        tmp_data = pd.read_csv(URL + f'yob{year}.txt', names=['Name', 'Gender', 'Count'])
        common_data = common_data.merge(tmp_data, on=['Name', 'Gender'])
        
    def sum_count(row):
        l = len(years)
        if l == 1:
            row.Count_All = row.Count
        elif l == 2:
            row.Count_All = row.Count_x + row.Count_y
        elif l == 3:
            row.Count_All = row.Count_x + row.Count_y + row.Count
        return row
    
    common_data['Count_All'] = pd.Series(0)
    common_data = common_data.apply(sum_count, axis=1).head(3)
    
    return common_data.sort_values(by='Count_All', ascending=False).Name.head(3).values.tolist()

count_top3([2016, 2015, 2014])

['Emma', 'Olivia', 'Ava']