DataFrame homework netologu py-11 Bilonozhko Andrii

In [2]:
import pandas as pd
import numpy as np

In [3]:
URL = '/Users/andrejbel./Downloads/names/'

In [4]:
pd.Series([1, 0, 2, 5, 7, 9])

0    1
1    0
2    2
3    5
4    7
5    9
dtype: int64

In [5]:
pd.DataFrame(data = {
    'Names': ['Anton', 'Maria'],
    'Ages': [18, 19]
})

   Ages  Names
0    18  Anton
1    19  Maria

In [6]:
data = pd.read_csv(URL + 'yob2016.txt', names = ['Name', 'Gender', 'Count'])
data.sort_values(by='Count', ascending=False, ).Name.head(3).values.tolist()

['Emma', 'Olivia', 'Noah']

In [82]:
def count_top3(years):
    sfx_year = [years[0]]
    common_data = pd.read_csv(URL + f'yob{years[0]}.txt', names=['Name', 'Gender', f'Count_{years[0]}'])
    for year in years[1:]:
        tmp_data = pd.read_csv(URL + f'yob{year}.txt', names=['Name', 'Gender', f'Count_{year}'])
        common_data = common_data.merge(tmp_data, on=['Name', 'Gender'])
        sfx_year.append(year)
        
    def sum_count(row):
        summ = 0
        for i in range(2, len(row) -1):
            summ += row[i]

        row.Count_All = summ
        return row
    
    common_data['Count_All'] = pd.Series(0)
    common_data = common_data.apply(sum_count, axis=1)
    
    return common_data.sort_values(by='Count_All', ascending=False).Name.head(3).values.tolist()

count_top3([2016, 2015, 2014, 2013])

['Emma', 'Olivia', 'Noah']